 head
    include ./head.pug
     link(rel="stylesheet" href="APlayer.min.css")
     div(id="aplayer")
     script(src="https://cdn.jsdelivr.net/gh/radium-bit/res@master/live2d/autoload.js" async)
     script(src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js" async)
     link(rel="stylesheet" href="")
     script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.js")
     script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/meting@1.2/dist/Meting.min.js")
body